<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  <title>商品订阅信息</title>
  <!--[if !mso]><!-- -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color:#F4F4F4;">
  <h3>订阅的商品信息如下：</h3>
  <div style="width: 300px; margin: 0 auto; margin-top: 40px; background: #fff">
    <div>
      <div><img style="width: 100%" src="<%= imgUrl %>" alt=""></div>
      <div style="padding: 10px;">
        <div style="font-size: 30px;line-height: 1.5">￥<%= price %></div>
        <div style="margin-top: 10px;"><%= name %></div>
        <div style="margin-top: 10px;"><a href="<%= link %>">点击查看商品详情</a></div>
      </div>
    </div>
  </div>
</body>
</html>
